:root{
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
}

@font-face {
    font-family: "Figtree Extra Bold";
    src: url('/assets/fonts/static/Figtree-ExtraBold.ttf');
}

@font-face {
    font-family: "Figtree Semi Bold";
    src:url('./assets/fonts/static/Figtree-SemiBold.ttf')
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card{
    background-color: white;
    width: 384px;
    height: 522px;
    padding: 24px 24px;
    border-radius: 20px;
    border: 1px solid var(--gray-500);
    box-shadow: 8px 8px var(--gray-950);
    display: grid;
    grid-template-rows: auto auto auto;
}

.card > img{
    border-radius: 10px;
}

.card-btn{
    background-color: var(--yellow);
    border-radius: 4px;
    padding: 4px 12px;
    font-family: "Figtree Extra Bold";
    width: 88px;
    color: var(--gray-950);
}

.card-date{
    font-family: "Figtree Semi Bold";
    color: var(--gray-950);
    font-size: 14px;
}

h1{
    font-family: "Figtree Extra Bold";
    font-size: 24px;
    cursor: pointer;
    color: var(--gray-950);
}

h1:hover{
    color: var(--yellow);
}

.card-para{
    font-family: "Figtree Semi Bold";
    font-size: 16px;
    color: var(--gray-500);
}

.author > img {
    width: 32px;
    height: 32px;
}

.author > p{
    font-family: "Figtree Extra Bold";
}

.author{
    display: flex;
    gap: 10px;
    align-items: center;

}

.attribution{
    margin-top: 50px;
    font-family: "Figtree Semi Bold";
}